.table_cell {
  border: 1px solid #dde;
  box-sizing: border-box;
  text-align: center;
  width: calc(100% / 9);
  height: calc(100% / 9);
  padding: 0;
  transition: border-color 0.3s ease;
}

.table_cell_border_top {
  border-top: 2px solid #669;
}

.table_cell_border_left {
  border-left: 2px solid #669;
}

.table_cell_border_right {
  border-right: 2px solid #669;
}

.table_cell_border_bottom {
  border-bottom: 2px solid #669;
}

.table_cell_active {
  border: 2px solid #696;
}
