.table_cell {
  position: relative;
  border: 1px solid #dde;
  text-align: center;
  width: calc(100% / 9);
  height: calc(100% / 9);
  padding: 0;

  cursor: pointer;
}

.table_cell::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.table_cell::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  /* z-index: 0; */
}

.table_cell_border_top {
  border-top: 2px solid #669;
}

.table_cell_border_left {
  border-left: 2px solid #669;
}

.table_cell_border_right {
  border-right: 2px solid #669;
}

.table_cell_border_bottom {
  border-bottom: 2px solid #669;
}

.table_cell_active::after {
  border-color: #696;
}

.table_cell_error {
  background-color: rgba(255, 0, 0, 0.15);
}
