.table_cell {
  border: 1px solid #dde;
  text-align: center;
  width: calc(100% / 9);
  height: calc(100% / 9);
  padding: 0;
}

.table_cell_border_top {
  border-top: 2px solid #669;
}

.table_cell_border_left {
  border-left: 2px solid #669;
}

.table_cell_border_right {
  border-right: 2px solid #669;
}

.table_cell_border_bottom {
  border-bottom: 2px solid #669;
}
